ul,
ol {
    display: flex;
}

li {
    display: inline-flex;
}

button,
a {
    display: inline-flex;
    align-items: center;
    justify-content: center;
}

span {
    display: inline-flex;
}

img, svg {
    user-select: none;
}